*{
    background-color: rgb(142, 222, 146);
}

Input {
    height: 30px;
    width: 200px;
}

.Label, h1 {
    color: rgb(10, 62, 153);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Button {
    color: azure;
}

