*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: progress;
}

table, th, td{
    border-color: black;
    border: 0.5px solid;
    padding: 3px;
    margin: 200px;
}

table {
    border-radius: 7px;
}

td, th {
    border-radius: 4px;
    background-color: #0c8de97a;
    padding: 5px;
}

.Input {
    width: 540px;
    height: 20px;
    align-self: center;
}

.Num_Input {
    width: 54px;
    height: 15px;
    align-self: center;
}

.Text {
    width: 540px;
    height: 40px;
}

.colspan {
    text-align: center;
} 

.radio {
    text-align: center;
}

.button{
    color: blue;
    cursor:progress;
    background-color: #feb50bb8;
    border-radius: 2px;
}

.button::hover{
    color: rgb(151, 170, 102);
    background-color:rgba(53, 207, 145, 0.723);
}
