* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td {
    border-color: rgb(0, 0, 0);
    border: 1px solid;
    color: rgb(98, 98, 0);
    border-style:dotted;
}
table {
    width: 60%;
}

th {
    background-color: aquamarine;
    text-align: center;
}

td {
    text-align: center;
}

.h1 {
    text-align: center;
}

video {
    align-items: center;
}