*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #131921;
}

.body {
    background-image: url('../W2/background.png');
    background-size: cover;
    padding-top: 60px;
}

.container{
    width: 100%;
    margin: 0;
    top: 0;
}

.header {
    width: 100%;
    background-color: #131921;
    position: fixed;
}

nav {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.main {
    list-style: none;
    display: flex;
    padding: 0 200px 0 300px;
    margin: 0;
}

.main>li {
    position: relative;
}

.main>li>a {
    color: antiquewhite;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.logo {
    transform: translateX(150px);   
}

.main>li>ul.sub {
    position: fixed ;
    background-color: #131921e9;
    padding: 0;
    list-style: none;
    text-decoration: none;
    width: 200px;
}

.main>li>ul.sub>li {
    display: none;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid white;
    padding: 25px;
}

.main>li:hover>ul.sub>li {
    display: block;
    font-weight: 100;
}

.main>li>ul.sub>li:hover {
    display: block;
    background: #fc3b00a0;
    color: #7db4fb;
    font-weight: 700;
}

.main>li>ul.sub>li:last-child {
    border: none;
}

a {
    text-decoration: none;
    list-style: none;
    color: #F7E1C2;
}

.body {
    color: #F7E1C2;
    display: flex;
    display: -webkit-flex;
}

.left_nav{
    flex: 1;
    -ms-flex: 1;
    width: 100%;
    height: 800px;
    background-color: #7db4fb;
}
.content{
    flex: 3;
    -ms-flex: 3;
}

.right_nav{
    flex: 1;
    -ms-flex: 1;
}

h1 {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 20px;
}

th, td, table {
    color: #5399f5;
}

table {
    padding: 20px;
}