*{
    margin: 1px;
}
.head1{
    height: 80px;
    background:deeppink;
    text-align: left;
    padding-top: 5px;

}
.menu{
    height:44px;
    background:black;
}
a{color:aquamarine;text-decoration: none;}
.menu>ul>li{
    
    list-style: none;
    float:left;
    padding:10px 40px 16px 0px;
}
.menu>ul>li:hover{
    display: inline-block;
    background: plum;

}
.menu_left{
    width:30px;
    background:chartreuse;


}

.footer1{
    height:40px;
    background:cornflowerblue;
}